html {
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: url("./images/wallpapers/campsite.jpg");
  background-color: black;
}
button:hover {
  cursor: pointer;
}
